<div>
  <h2>Dash Game</h2>
  
  <!-- main-->
  <div class="main" *ngIf="displayBegin">
  	<a href="#" 
  	   class="button"
       (click)="beginGame()">
  	   Start
  	</a>
  </div><!-- end main -->

  <!-- board -->
  <div *ngIf="displayBoard">
    <ul>
      <li class="kz-border-bottom kz-border-right"
        [class.kz-img-x]="displayX(0, 0)"
        [class.kz-img-o]="displayO(0, 0)"
        [class.kz-cor-victory]="showVictory(0, 0)"
        (click)="play(0, 0)"></li>
      <li class="kz-border-bottom kz-border-right"
        [ngClass]= "{ 
          'kz-img-x': displayX(0, 1),
          'kz-img-o': displayO(0, 1),
          'kz-cor-victory': showVictory(0, 1) }"
        (click)="play(0, 1)"></li>
      <li class="kz-border-bottom"
        [ngClass]= "{ 
          'kz-img-x': displayX(0, 2),
          'kz-img-o': displayO(0, 2),
          'kz-cor-victory': showVictory(0, 2) }"
        (click)="play(0, 2)"></li>
      <li class="kz-border-bottom kz-border-right"
        [ngClass]= "{ 
          'kz-img-x': displayX(1, 0),
          'kz-img-o': displayO(1, 0),
          'kz-cor-victory': showVictory(1, 0) }"
        (click)="play(1, 0)"></li>
      <li class="kz-border-bottom kz-border-right"
        [ngClass]= "{ 
          'kz-img-x': displayX(1, 1),
          'kz-img-o': displayO(1, 1),
          'kz-cor-victory': showVictory(1, 1) }"
        (click)="play(1, 1)"></li>
      <li class="kz-border-bottom"
        [ngClass]= "{ 
          'kz-img-x': displayX(1, 2),
          'kz-img-o': displayO(1, 2),
          'kz-cor-victory': showVictory(1, 2) }"
        (click)="play(1, 2)"></li>
      <li class="kz-border-right"
        [ngClass]= "{ 
          'kz-img-x': displayX(2, 0),
          'kz-img-o': displayO(2, 0),
          'kz-cor-victory': showVictory(2, 0) }"
        (click)="play(2, 0)"></li>
      <li class="kz-border-right"
        [ngClass]= "{ 
          'kz-img-x': displayX(2, 1),
          'kz-img-o': displayO(2, 1),
          'kz-cor-victory': showVictory(2, 1) }"
        (click)="play(2, 1)"></li>
      <li [ngClass]= "{ 
            'kz-img-x': displayX(2, 2),
            'kz-img-o': displayO(2, 2),
            'kz-cor-victory': showVictory(2, 2) }"
          (click)="play(2, 2)"></li>
    </ul>
  </div><!-- end board --> 

  <!-- end screen -->
  <div *ngIf="showFinal">
    <span>
    <p *ngIf="player==2">You won!!!</p>
    <p *ngIf="player==1">You lost...</p>
    <p *ngIf="player==0">The game ended in a draw...</p>
    <br />
    <a href="#" 
         class="button"
         (click)="newGame()">
         Play again
      </a>
    </span>
  </div><!-- fim tela final -->

</div>
